/* header */
#site-header-wrap{
    z-index: 999;
}   

.row-header {
    margin: 0 !important;
    padding: 23px 0 23px;
}

@media (max-width: 1199px) {
    .row-header > div {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* logo */
.logo-desktop img {
    max-width: 65px;
}

ul.hsh-menu-list {
    margin-bottom: 0;
}

.hsh-menu-list li {
    display: inline-block;
}

.hsh-menu-list li a {
    font-size: 20px;
    line-height: normal;
    font-weight: 500;
    padding-left: 40px; 
    color: #fff;
    font-family: "Mulish", sans-serif;
}

.hsh-menu-list li a:hover {
    color: #FFCD00;
}

.shs-nav-icon-nav img {
    max-height: 24px;
    float: right;
    cursor: pointer;
}

.hsh-img-nav {
    display: none;
    max-width: 27px;
}



/* Style nav menu mobile */
.header-layout .container-default { 
    position: relative;
}

#menu-mobile .btn-nav-mobile span {
    top: 7px;
    content: "";
    background-color: #fff;
    display: block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 24px;
}
#menu-mobile .btn-nav-mobile:before {
    top: 0px;
    content: "";
    background-color: #fff;
    display: block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 24px;
}
#menu-mobile .btn-nav-mobile:after {
    content: "";
    background-color: #fff;
    display: block;
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 24px;
    top: 14px;
}
#menu-mobile .btn-nav-mobile {
    color: #282828;
    display: inline-block;
    height: 16px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    cursor: pointer;
    position: relative;
}
#site-header-wrap #menu-mobile {
    display: none;
}

@media (max-width: 1199px) {
    #site-header-wrap #menu-mobile {
        display: block;
    }

    .site-navigation {
        border-top: 1px solid rgba(0,0,0,8%);
        background-color: #fff;
        position: absolute;
        z-index: 1001;
        padding: 30px 20px 20px;
        top: 120px;
        left: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        z-index: -1;
        max-height: 80vh;
        overflow-y: scroll;
        transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    }
    
    .site-navigation.navigation-open {
        opacity: 1;
        visibility: visible;
        top: 98px;
        z-index: 999;
        transform: translateY(0);
    }

    .site-navigation .hsh-menu-list li {
        display: block;
        margin-bottom: 5px;
    }   
    .site-navigation .hsh-menu-list li a {
        padding-left: 0;
    }   
}

.site-header-main {
    background-color: #fff;
}

#menu-reponsive .hsh-menu-list li {
    margin-bottom: 15px;
}

#menu-reponsive .hsh-menu-list li a {
    color: #003DA5;
    font-size: 16px;
    font-weight: 600;
}

/* New css */
/* Áp dụng cho thẻ chứa icon chuông */
.icon-ring {
  display: inline-block;
  animation: ring 1.8s infinite;
  transform-origin: top center;
}

/* Keyframes animation */
@keyframes ring {
  0% { transform: rotate(0); }
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-10deg); }
  30% { transform: rotate(7deg); }
  40% { transform: rotate(-5deg); }
  50% { transform: rotate(3deg); }
  60% { transform: rotate(-2deg); }
  70% { transform: rotate(1deg); }
  80% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.dark-toggle {
    cursor: pointer;
    background-color: #003f3f;
    color: white;
    border-radius: 16px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-info {
  display: flex;
  align-items: center;
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  padding: 8px 16px;
  gap: 10px;
}

.menu-icon {
  position: relative;
  cursor: pointer;
  transform: trans;
}

.menu-icon svg {
    transform: translateY(-1px);
    color: var(--secondary_color);
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.username {
    color: #040B0C;
    margin-left: 10;
}


@media (max-width: 767px) {
    .row-header {
        padding: 15px 0 15px;
    }
}




















